# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Eclipse project files
.project

# Helper tool temporary files (and local developer symlinks)
tools/.xdcrToolsExport
tools/clusterRunProvision.sh
tools/importExporter.sh
tools/testScripts/testsLibrary.sh
tools/testScripts/ca.pem
tools/testScripts/ca.key

# MacOS file
.DS_Store

# vim swap files
*.swp

# GoLand project space
.idea/

# vagrant log files
tools/testScripts/vagrant/ubuntu-bionic-18.04-cloudimg-console.log
tools/testScripts/vagrant/*.deb
tools/testScripts/vagrant/.vagrant
tools/testScripts/vagrant/data

build/

# binaries
/xtest

# logs
log
*.log

#vscode
.vscode